* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0d1117;
    color: #007ACC;
    width: 100%;
}

header {
    width: 100%;
    height: 58px;
    display: flex;
    background-color: #0d1117;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1030;
    border-bottom: 1px solid #2a2e33;
}

#nav-container {
    min-height: 50px;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-right: auto;
    margin-left: auto;
}

#logo-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo #logo-icon {
    width: 24px;
    height: 24px;
}

#logo a {
    color: #c3d0e5;
    min-height: 58px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 19px 0 0 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
}

#nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 16px;
}

#nav-bar ul li {
    list-style: none;
    padding: 0 12px 0 12px;
}

#nav-bar ul li a {
    text-decoration: none;
    color: #9ba3b4;
    font-size: 16px;
    font-weight: 500;
}

#nav-bar ul li a:hover {
    color: #c3d0e5;
}


#search-area {
    display: flex;
    justify-content: center;
    align-items: center;
}


#search-input-section {
    width: 200px;
    height: unset;
    display: flex;
    align-items: center;
    border: 1px solid #31343a;
    border-radius: 5px;
    position: relative;
}

#search-input-section img {
    position: absolute;
    padding: 0 6px 0px 6px;
}

#search-input-section input {
    width: 100%;
    padding: 5px 12px 5px 36px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: #c3d0e5;
}

#search-input-section input:focus-visible {
    outline: none;
}

#search-input-section input::placeholder {
    color: #9ba3b4;
    font-size: 0.8rem;
    font-weight: 500;
}

#search-area #download-btn {
    background-color: #007ACC;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
    margin: 0 10px;
    text-decoration-line: none;
}

#search-area button:hover {
    background-color: #005f8d;
}


/* main section styling here... */
main {
    width: 70%;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px auto 0 auto;
}


/* Hero section styling here... */
#hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    color: #c3d0e5;
    /* gap: 20px; */
}

#hero h1 {
    max-width: 1000px;
    text-wrap: balance;
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 90px;
    margin: 0 0 24px 0;
}

#hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 0 10px 0;
}

.button {
    border: none;
    padding: 8px 16px;
    border: 1px solid #31343a;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-decoration-line: none;
}

#hero-btn #download-btn,
#download-btn {
    color: white;
    background-color: #0078d4;
}

#hero-btn #download-btn:hover {
    background-color: #005ba4;
}

#hero-btn #learn-more-btn,
#learn-more-btn {
    background-color: #25292E;
    border: 1px solid #ffffff4d;
    color: #c3d0e5;
}

#hero-btn #learn-more-btn:hover {
    background-color: #333940;
}

#hero #quick-link #quick-link-text {
    color: #9FB1D1;
    font-size: 12px;
}

#quick-link {
    margin: 0 0 48px 0;
}

#hero #quick-link #quick-link-text a {
    color: #4daafc;
    font-weight: 600;
}

#hero-img-video {
    /* parent-div*/
    width: 100%;
    min-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#hero-img-video video {
    /* child div - 1*/
    width: 90%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, .36);
}

#hero-img {
    /* child div - 2*/
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: contain;
    border-radius: 24px;
}


/* Feature card section styling here... */

#feature-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0 0 0;
    /* margin: 48px auto 0 auto; */
}

#card-grids {
    display: flex;
    flex-direction: row;
    gap: 48px;
    /* padding: 0 48px; */
}

.card {
    /* max-width: 370px; */
    background-color: #161a20;
    display: flex;
    align-items: stretch;
    border: 1px solid rgba(255, 255, 255, 0.302);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    text-align: left;
}

.container h2 {
    font-size: 20px;
    font-weight: 600;
    color: #c3d0e5;
    line-height: 150%;
    padding: 0 0 10px 0;
    letter-spacing: -0.5px;
}

.container p {
    color: #9fb1d1;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;
    vertical-align: middle;
}


/* Copilot section styling here... */

#copilot-features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 40px;
    padding: 48px 0;
}

#copilot-section {
    width: 100%;
    background-image: url('https://code.visualstudio.com/assets/home/copilot-free-banner-bg-dark.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #ffffff4d;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-items: baseline;
    border-radius: 8px;
}


#copilot-content {
    color: #e6eefa;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

#copilot-content h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    text-wrap: balance;
}

#btn-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0 0 0;
    padding: 0 40px;
}

#btn-content p {
    color: #e6eefa;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}


#third-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 40px;
    padding: 48px 0;
}

#main-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 144px;
}

.row-container {
    display: flex;
    flex-direction: row;
}

#text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 48px 0 0;
}

.sub-heading h2 {
    color: #c3d0e5;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin: 0 0 10px 0;
    line-height: 150%;
    font-size: 30px;
}

.sub-heading p {
    color: #9fb1d1;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    margin: 0 0 10px 0;
}

.text-content a {
    font-size: 16px;
    font-weight: 500;
    color: #4daafc;
}

#img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 0 48px;
}

#img-container img {
    border-radius: 16px;
    width: 800px;
}

.m-bottom {
    margin: 0 0 24px 0;
}

#a-list {
    margin: 40px 0 0 0;
}

.text-area{
    width: 60%;
    flex: 1;
    padding: 0 48px 0 0 ;
    display: flex;
    align-items: center;
}

#extensions-container {
    flex: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    max-width: 845px;
    padding: 0 0 0 48px ;
}

#first-row,
#second-row,
#third-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.click-card {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.extension-title-container {
    display: flex;
    flex-direction: row;
}

.sub-text-container h3{
    font-size: 16px;
    margin: 0 0 10px 0;
    margin-top: 2px;
    color: #c3d0e5;
}

.sub-text-container span{
    font-size: 14px;
    line-height: 140%;
    margin: 0;
    letter-spacing: 0;
    color: #9fb1d1;
}

.sub-text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 10px;
}

#extensions-container .rows .click-card .adj-img {
    height: 40px;
    width: auto;
    align-self: flex-start;
    border-radius: 4px;
}

.languages{
    padding: 0 48px 0 0;
    flex: 1;
}

#code-language{
    padding: 0 72px;
}

#programming-languages{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.lang{
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang img{
    height: 40px;
    width: auto;
}

.lang code{
    font-size: 16px;
    margin: 0;
    line-height: 100%;
    background-color: unset;
    color: #9ba3b4;
}

#rich-features {
    width: 100%;
}

#r-f-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 48px 0;
    text-align: center;
}

#heading-text p {
    max-width: 500px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

#feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.bottom-card {
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 24px;
    margin: 0 0 10px 0;
    text-decoration-line: none;
}

.bottom-card:hover {
    border-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.bottom-card h3 {
    color: #c3d0e5;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
}

.bottom-card p {
    color: #9fb1d1;
    margin: 0;
    padding-top: 8px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.bottom-card img {
    height: 48px;
    width: 48px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer styling here... */

footer {
    width: 100%;
}

#footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 96px 0;
}

#footer-container li {
    list-style: none;
}

.footer-social-media ul,
.footer-content ul,
.footer-content ul li a {
    display: flex;
    gap: 32px;
    text-decoration-line: none;
    color: #9FB1D1;
    font-size: 12px;
    font-weight: 500;
}

.footer-social-media img {
    width: 32px;
}

.footer-social-media #x-icon {
    max-width: 24px;
}